.container-fluid{
  margin-top: 20px;
}

.volver{
  margin-left: 60px;
  margin-top: 20px;
  font-size: 2.2em;
  color: var(--secondary-color);
  cursor: pointer; 
}

.filtro{
  margin-bottom: 10px;
}

.card-header {
  background-color: var(--shadow-color);
  
}

.card{
  border-radius: 2%;
  padding: 5px;
  margin-bottom: 5px;
}

.empleos {
  overflow-y: scroll;
  height: 40rem;
}

.empleos::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.empleos::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, var(--secondary-color), var(--primary-color));

}
.btn-ampliar{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--secondary-color);
  width: 100%;
  display: block;
  margin-top: 20px;
  padding: 0.575rem 1rem;
  border-radius: 2%;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px var(--primary-color);
  cursor: pointer;
}

.btn-ampliar:hover {
  background-color: var(--fourth-color);
}

.btn{
  background-color: var(--secondary-color);
  border-color: transparent;
  border-radius: 15px;
  color: var(--primary-color);
}
.btn:hover{
  background-color: var(--fourth-color);

      color: black
}

.example-1 {
  overflow-y: scroll;
  height: 40rem;
}

.example-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.example-1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, var(--secondary-color), var(--primary-color));

}

