<div class="volver">
  <a (click)="_location.back()"><i class="fas fa-arrow-circle-left"></i></a>
</div>
<div class="container-fluid">

      <!-- Filtro -->
    <div class="row filtro">
      <form class="form-inline col-md-5 ">
        <input class="form-control" type="text" #filtro  placeholder="Sector o Puesto">
        <a class="btn buscar" (click)="filterSearch(filtro.value)">Filtrar</a>
      </form>
      <select class="custom-select col-md-2 seccion " #experiencia>
          <option selected value="" disabled>Experiencia</option>
          <option value="Sin experiencia">Sin experiencia</option>
          <option value="Entre 1 y 2 años">Entre 1 y 2 años</option>
          <option value="Entre 3 y 4 años">Entre 3 y 4 años</option>
          <option value="Más de 4 años">Más de 4 años</option>
      </select>
      <br>
      <select class="custom-select col-md-2 seccion" #contrato>
        <option selected value="" disabled>Contrato</option>
        <option value="Temporal">Temporal</option>
        <option value="Obra y servicio">Obra y servicio</option>
        <option value="Indefinido">Indefinido</option>
        <option value="Prácticas">Prácticas</option>
      </select>
      <br>
      <select class="custom-select col-md-2 seccion" #jornada>
        <option selected value="" disabled>Jornada</option>
        <option value="Completa">Completa</option>
        <option value="Parcial">Parcial</option>
        <option value="Fines de semana">Fines de semana</option>
      </select>
    
      <a class="btn col-md-0.5 buscar" (click)="filter(experiencia.value, contrato.value, jornada.value)">Filtrar</a>
    </div>

    <div class="row">

      <!-- Resumen de empleo -->
      <div class="empleos col-md-4 mb-4">
        <div *ngFor="let job of filtrados">
          <div class="card example-1" style="height: 15rem;">
            <div class="card-header">{{job.company_name}} || <br> {{job.title}}</div>
            <div class="card-body">
              <p class="card-text">{{job.description.slice(0,50)}} ...</p>
              <h6 class="card-detalles">{{job.salary}} € || {{job.contract}} || {{job.sector}}</h6>
            </div>
            <button (click)="oneJob(job.job_id)" class="btn-ampliar">Ampliar información</button>
          </div>
        </div>
      </div>

      <!-- Ampliacion de empleo -->

      <div class="col-md-8 mb-6 ">
        <div *ngIf="job">
          <div class="card example-1 scrollbar-frozen-dreams" style="height: 40rem;">
            <div class="card-header">{{job.title}}</div>
            <div class="card-body">
              <p>{{job.company_name}}</p>
              <p>{{job.description}}</p>
              <p>{{job.requirements}}</p>
              <p>{{job.sector}}</p>
              <p>{{job.working_day}}</p>
              <p>{{job.contract}}</p>
              <p>{{job.salary}}</p>
              E-mail de contacto: <p>{{job.email}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

