<div class="row ">
    <div class="col-xl-2" style=" background: var(--primary-color)" >
        <app-menu-inversor></app-menu-inversor>
    </div>
    <div class="col-xl-10 proyectos" >
        <br><h3 style="text-align: center;">Proyectos de interés</h3>
        <div id="proyectos" class="row caja">
            <div class="col-md-8 " >
               <br><h2>Mi Proyecto A </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4" >
                <br>
                <a class="btn btn1" (click)= "null" role="button" >Mas info</a>
                <a class="btn btn2" routerLink="/chat" role="button" >Contactar</a>
                <a class="btn btn-primary add" role="button" (click)=addInvertidos(1)>Añadir a proyectos invertidos</a>
          </div>
        </div>
        <div id="proyectos" class="row caja">
            <div class="col-md-8 " >
               <br><h2>Mi Proyecto B </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4 " >
                <br><br>
                <a class="btn btn1" (click)= "null" role="button" >Mas info</a>
                <a class="btn btn2" routerLink="/chat" role="button" >Contactar</a>
                <a class="btn btn-primary add" role="button">Añadir a proyectos invertidos</a>
          </div>
        </div>
        <div id="proyectos" class="row caja">
            <div class="col-md-8" >
               <br><h2>Mi Proyecto C </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4" >
                <br><br>
                <a class="btn btn1" (click)= "null" role="button" >Mas info</a>
                <a class="btn btn2" routerLink="/chat" role="button">Contactar</a>
                <a class="btn btn-primary add" role="button">Añadir a proyectos invertidos</a>
          </div>
        </div>
  </div>
</div>
