<div class="row ">
    <div class="col-xl-2" style=" background: var(--primary-color)" >
        <app-menu-inversor></app-menu-inversor>
    </div>
    <div class="col-xl-10 proyectos" >
        <br><h3 style="text-align: center;">Proyectos de interés</h3>
        <a class="btn btn1" (click)= "proyectosFavoritos()" role="button" >mostrar</a>
        <div *ngFor="let interes of proyectosInteres">
            <div id="proyectos" class="row caja">
                <div class="col-md-8 " >
                <br><h2>{{interes[0].project_name}}</h2><br>
                <p>{{interes[0].description}}</p>
                <h5>Última actualización</h5>
                <p>(fecha de actualización) - Asunto de actualización</p>

                </div>
                
                <div class="col-md-4" >
                    <br>
                    <a class="btn btn1" (click)= "null" role="button" >Mas info</a>
                    <a class="btn btn2" routerLink="/chat" role="button" >Contactar</a>
                    <a class="btn btn-primary add" role="button" (click)=addInvertidos(1)>Añadir a proyectos invertidos</a>
            </div>
        </div>
    </div>
  </div>
</div>
