<div class="formulario">
    <br><h2 style="text-align: center;">Registra aquí tu empresa... </h2><br><br>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" #nombre>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="direccion" placeholder="Dirección" #direccion>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="nif" placeholder="NIF" #nif>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="telefono" placeholder="Teléfono" #telefono>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="fax" placeholder="Fax" #fax>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" #email>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="web" placeholder="Dirección web" #web>
          </div>        
          <div class="form-group">
            <textarea type="text" class="form-control" id="web" placeholder="web" #descripcion></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="img_url" placeholder="URL de imagen Logo" #img_url>
          </div>
          <div class="form-group">
            <select class="form-control" id="sector" #sector>
                <option value="" disabled>Sector</option>
                <option value="fintech">Fin tech</option>
                <option value="transporte">Transporte</option>
                <option value="inteligencia artificial">inteligencia artificial</option>
              </select>
            </div>       
        <br><button type="button" class="btn btn-primary" style="background-color: var(--secondary-color);" (click)=save(nombre,direccion,nif,telefono,fax,email,web,descripcion,img_url,sector) >Submit</button>
      </form>
</div>