<div class="formulario">
    <br><h2 style="text-align: center;">Aquí puedes publicar tu proyecto... </h2><br><br>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" #nombre>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="empresa" placeholder="Empresa" #empresa>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="capital_total" placeholder="Capital total" #capital_total>
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="fecha_fin" placeholder="Fecha límite" #fecha_fin>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="descripcion" placeholder="Descripción" #descripcion></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="img_url" placeholder="URL de imagen" #img_url>
          </div>
          <div class="form-group">
            <select class="form-control" id="sector" #sector>
                <option value="" disabled>Sector</option>
                <option value="fintech">Fin tech</option>
                <option value="transporte">Transporte</option>
                <option value="inteligencia artificial">inteligencia artificial</option>
              </select>
            </div>       
        <br><button type="button" class="btn" id="btn" (click)=save(nombre,empresa,capital_total,fecha_fin,descripcion,img_url,sector)>Submit</button>
      </form>
</div>