<div class="formulario">
    <br><h2 style="text-align: center;">Aquí puedes publicar tu proyecto... </h2><br><br>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" id="project_name" placeholder="Nombre" #project_name>
        </div>
          <div class="form-group">
            <input type="number" class="form-control" id="total_amount" placeholder="Capital total" #total_amount>
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="end_date" placeholder="Fecha límite" #end_date>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="description" placeholder="Descripción" #description></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="project_img_url" placeholder="URL de imagen" #project_img_url>
          </div>
          <div class="form-group">
            <select class="form-control" id="sector" #sector>
                <option selected value="" disabled>Sector</option>
                <option *ngFor="let value of sectorType, let name of sectorName" [value]="value">{{name}}</option>
              </select>
            </div>       
          <br>
        <button type="button" class="btn" id="btn" (click)="save(project_name.value, description.value, total_amount.value, end_date.value,  project_img_url.value, sector.value)">Submit</button>
      </form>
</div>