form{
    margin-left: 100px;
    width: 80%;
}

#btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
#btn:hover{
    background-color: var(--fourth-color);
    color: black;
}
.formulario{
    margin-bottom: 50px;
}

.volver{
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
    font-size: 2.2em;
    color: var(--secondary-color);
    cursor: pointer; 
}