<div class="row page">
    <div class="col-md-3 col-sm-12 filtro">
        <form class="formulario">
            <select class="custom-select my-1 mr-sm-2 seccion" #sector>
                <option selected value="" disabled>Sector</option>
                <option value="fintech">Fin-tech</option>
                <option value="inteligencia_artificial">Inteligencia artificial</option>
                <option value="transporte">Transporte</option>
            </select>
            <br>
            <div class="input-group mb-3 seccion">
                <input type="number" class="form-control" placeholder="Capital Minimo" #minimo>
                <input type="number" class="form-control" placeholder="Capital Maximo" #maximo>
            </div>
            <div class="calendario seccion">
                <label class="my-1 mr-2" for="fecha-fin">Fecha fin de ronda: </label>
                <input type="date" id="fecha-fin" #fecha>
            </div>
            <a class="btn btn-primary buscar" (click)="filtrar(sector.value, maximo.value, minimo.value, fecha.value)">Filtrar</a>
        </form>

    </div>
    <div class="col-md-9 col-sm-12 proyectos">
        <div class="input-group mb-3 buscador">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nombre proyecto o empresa" #buscador="ngModel" [(ngModel)]="search" (keyup)="filtrarPorNombre()">
        </div>
        <div *ngFor="let proyecto of filtrado" class="card w-100 proyecto">
            <a class="fav" (click)="toggle(proyecto.id)">
                <i class='fa-star'  [ngClass]="user_fav.includes(proyecto.id) ? 'fas' : 'far'" [id]="'id_proyecto_'+proyecto.id" ></i>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{proyecto.nombre}}</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus earum illum, corporis dolor eaque vel dolore id dolorem praesentium itaque eos possimus error placeat iusto! Doloribus totam veritatis illum architecto unde cumque nobis ipsum beatae ducimus? Reiciendis placeat alias porro deserunt voluptate exercitationem id quam sed nostrum sint, ipsum architecto ad distinctio a possimus vel illo. Incidunt, quaerat enim!</p>
                <h6 class="card-subtitle mb-2 text-muted">{{proyecto.capital_restante}}/{{proyecto.capital_total}} €</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{proyecto.empresa}}</h6>
                <a class="btn btn-primary" [routerLink]="['/proyectos/proyecto']" [queryParams]="{id: proyecto.id}">Más información</a>
            </div>
        </div>
    </div>
</div>