<body>
  <div id="container">
    <img class="img_login" src="assets/images/login.png">

    <!-- Logo o nombre de la empresa para redireccionar a Inicio -->
    <div>
      <button class="btn_home">Nombre</button>
    </div>

    <!-- Formulario Login -->


    <form class="container_form col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="form col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h6 class="title">Inicia sesión</h6>
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
        <label for="name">Nombre</label>
        <input type="name" class="form-control" id="name" aria-describedby="emailHelp">
      </div>
      <div class="form col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
        <label for="email1">Correo electrónico</label>
        <input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
      </div>
      <div class="form  col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <i class="fa fa-unlock" aria-hidden="true"></i>&nbsp;
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
        <label class="form-check-label" for="autoSizingCheck2">Mantener la sesión iniciada</label>
      </div>
      <button type="submit" class="btn_go col-lg-12 col-md-12 col-xs-12">Continuar</button>
      <div class="register  col-md-10 col-xs-10">
        <p>¿Aún no tienes cuenta? <a>Regístrate</a></p>
      </div>
    </form>
    
    <div class="pie_formulario col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col">
            <a class="float-left">Izq</a>
            <a class="float-right">Der</a>
        </div>
    </div>

  </div>
</body>