header{
    background-image: url("/assets/images/header.png");
    background-size: cover;
    height: 300px;

}

.navbar{
    text-decoration: none;
    height: 150px;
    font-size: 14pt;  
}

.navbar-brand{
    font-size: 50pt;

}

.navbar-toggler{
   border-radius: 10px;
   border-color: var(--secondary-color);
}

ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    text-align: right;
}

ul li a:hover{
    color: var(--fourth-color);
}

.nav-link{
    background: none;
    color: var(--secondary-color);
    border-style: none;
    padding: 10px;
}

.nav-link:hover{
    color: var(--fourth-color);
}

.items1{
    float:right;
}

.collapse{
    margin-top: 20px;
}

.modal-lg{
    max-width: 80% !important;
}

.step{
    text-align: center;
    margin-top: 30px;
}

.modal-content p{
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.number{
    font-size: 40pt;
    font-weight: bold;
    color: var(--secondary-color);
}

.caja{
    width: 100px;
    height: 100px;
}

.img img {
    border-radius: 50%;
    width: 100px;
    justify-self: right;
    padding: 0;
    border: 1px solid var(--secondary-color);
}

/* @media (min-width: 768px) {
    .modal-lg .modal-dialog {
      width: 750px;
    }
}
@media (min-width: 992px) {
    .modal-lg .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal-lg .modal-dialog {
        width: 1170px;
    }
}

@media (max-width: 340px){
    .navbar{
        font-size: 12pt;
    }

    .navbar-brand{
        font-size: 30pt;
    }

    a.nav-link{
        margin-top: 10px;
    }
}

@media (max-width: 660px){
    header{
        background-image: none;
    }

    .collapse{
        font-size: 9pt;
    }
}

@media (min-width: 1000px){
    .items1{
        display: flex;
        margin-left: 50px;
    }

    .items2{
        margin-left: 80px;
    }

    .navbar{
        margin-left: 60px; 
    }
} */




/*
#line{
    border-left: 4px solid var(--fourth-color);
    height: 30px;
    position: absolute;
    margin-left: 145px;
    margin-top: 5px;
}
*/

/* --------- con user */


@media (min-width: 1140px){
    .login-signup{
        position: absolute;
        right: 100px;
    }
    .login{
        position: absolute;
        right: 250px;
    }
    .signup{
        position: absolute;
        right: 100px;
    }
}
