form{
    margin-left: 100px;
    width: 80%;
}

#btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#btn:hover{
    background-color: var(--fourth-color);
    color: black;
}

.formulario{
    margin-bottom: 50px;
    position: relative;
}
.boton_atras{
    position: absolute;
    top: 20px;
}