<div  class="row" >
    <div class="col-md-6" >
        <h1>Soen</h1>
           
      </div>
    <div class="col-md-6" >
       <h3>Barra de navegación</h3>
           
      </div>
</div>
<br>
<div class="row ">
    <div class="col-xl-2" >
        <app-menu-empresa></app-menu-empresa>
    </div>
    <div class="col-xl-10 background: var(--primary-color)" >
        <br><h3 style="text-align: center;">Mis projectos</h3>
        <div id="proyectos" class="row ">
            <div class="col-md-8 " >
               <br><h2>Proyecto A </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4" >
                <br>
                <h5>Capital invertido: 4000/8000€</h5><br><br><br>
                <a class="btn btn-primary" href="#" role="button" id="btn">Editar</a>
                <a class="btn btn-primary" href="#" role="button" id="btn2">Actualizar</a>
          </div>
        </div>
        <div id="proyectos" class="row ">
            <div class="col-md-8 " >
               <br><h2>Proyecto B </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4 " >
                <br>
                <h5>Capital invertido: 4000/8000€</h5>
                <a class="btn btn-primary" href="#" role="button" id="btn">Editar</a>
                <a class="btn btn-primary" href="#" role="button" id="btn2">Actualizar</a>
          </div>
        </div>
        <div id="proyectos" class="row ">
            <div class="col-md-8" >
               <br><h2>Proyecto C </h2><br>
               <h3>Descripción del proyecto</h3>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi veritatis necessitatibus deleniti beatae earum quidem! Reiciendis doloremque harum, facere distinctio, perspiciatis ducimus sed laudantium velit quaerat minus obcaecati in. Reprehenderit.</p>
               <h5>Última actualización</h5>
               <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4" >
                <br>
                <h5>Capital invertido: 4000/8000€</h5>
                <a class="btn btn-primary" href="#" role="button" id="btn">Editar</a>
                <a class="btn btn-primary" href="#" role="button" id="btn2">Actualizar</a>
          </div>
        </div>
  </div>
</div>
