#proyectos{
    position: relative;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 18px -9px rgba(148,176,183,1);
    -moz-box-shadow: 0px 0px 18px -9px rgba(148,176,183,1);
    box-shadow: 0px 0px 18px -9px rgba(148,176,183,1);

}
#btn{
background-color: var(--secondary-color);
width: 90px;
position:absolute;
bottom:10px;
right:130px;
color: var(--primary-color);


}
#btn2{
    background-color: var(--secondary-color);
    width: 125px;
    position:absolute;
    bottom:10px;
    right:0px;
    color: var(--primary-color);
    }

#btn:hover{
        background-color: var(--fourth-color);
        color: black
    }
#btn2:hover{
        background-color: var(--fourth-color);
        color: black
    }
.proyectos{
    margin-bottom: 50px;
}