
<div class="row proyectos">
  <div class="col-xl-2 p-sm-0">
    <app-menu-empresa></app-menu-empresa>
  </div>
  <div class="col-xl-10">
    <br>
    <h3 style="text-align: center;">Mis proyectos</h3>
    <div id="proyectos" class="row " *ngFor="let proyecto of projectsUser; let indice = index" >
      <div class="col-md-8">
          <br>
          <h2>{{ proyecto.project_name }}</h2><br>
          <h3>Descripción del proyecto</h3>
          <p>{{ proyecto.description }}</p>
          <div *ngIf="proyecto.update_">
            <h5>Última actualización</h5>
            <p>{{proyecto.update_}}</p>
          </div>

        </div>
            <div class="col-md-4">
              <br>
              <h5>Cantidad restante: {{ proyecto.remaining_amount }} €</h5><br><br><br>
              <a class="btn" [routerLink]="['/dashboard/mis_proyectos/modificar']" [queryParams]='{project_id: proyecto.project_id}' role="button" id="btn">Editar</a>
              <a class="btn" [routerLink]="['/dashboard/mis_proyectos/actualizar']" [queryParams]='{project_id: proyecto.project_id}' role="button" id="btn2">Actualizar</a>
            </div>
      
    </div>
  </div>
</div>
