<app-navbar></app-navbar>

<body>
  <div class="container">

    <!-- Object -->
    <div class="row">
      <div class="col-md-4">
        <div id="object">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi a inventore architecto fugiat,</h1>
        </div>
      </div>
      <div class="img_p col-md-4 col-xs-none">
        <img src="assets/images/landing.svg" width="600px">
      </div>
    </div>

    <!-- Why -->
    <div class="row">
      <div class="why">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eaque eveniet itaque officia, adipisci
          iusto sed ut expedita! Sapiente fugiat consequuntur minima nam hic quisquam iste, voluptas dignissimos vel
          sunt.
        </p>
      </div>
    </div>

    <!-- Project -->
    <div class="row">
      <div id="multi-item" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->



        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>

        </ol>

        <!-- Slides -->
        <div class="carousel-inner" role="listbox">

          <!-- First slide -->
          <div class="carousel-item active">

            <div class="col-md-6" style="float:left">
              <div class="card mb-2">
                <span class="tag">En campaña</span>
                <img class="card-img-top" src="/assets/images/road.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Trucksters <img class="icon-eur" src="/assets/images/euro.png"></h4>
                  <p class="card-text">Con una aplicación propia basada en anlgoritmos proveen servicios de logistica en
                    modo de relevos para que los conductores pasen menos tiempo fuera de casa. Trucksters tiene un
                    impacto social y medioambiental.</p>
                  <a class="btn_carousel">Conocer más > </a>
                </div>
              </div>
            </div>

            <div class="col-md-6" style="float:left">
              <div class="card mb-2">
                <span class="tag">Finalizado</span>
                <img class="card-img-top" src="/assets/images/fotovoltaica.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Rated Power <img class="icon-eur" src="/assets/images/euro.png"></h4>
                  <p class="card-text">Al fusionar tecnología e ingeniería, su objetivo es fortalecer la industria de
                    las renovables, reducir los costos y maximizar la eficiencia del despliegue de la planta
                    solar para contribuir a la proliferación de la energía solar.</p>
                  <a class="btn_carousel">Conocer más > </a>
                </div>
              </div>
            </div>

          </div>

          <!-- Second slide -->
          <div class="carousel-item">

            <div class="col-md-6" style="float:left">
              <div class="card mb-2">
                <span class="tag">En campaña</span>
                <img class="card-img-top" src="/assets/images/rural.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Nilgo <img class="icon-eur" src="/assets/images/euro.png"></h4>
                  <p class="card-text">En Nilgo son especialistas en encontrar alojamientos de glamping (glamour y
                    camping). Les encantan encontrar los alojamientos originales que nos permitan salir de lo habitual.
                  </p>
                  <a class="btn_carousel">Conocer más ></a>
                </div>
              </div>
            </div>

            <div class="col-md-6" style="float:left">
              <div class="card mb-2">
                <span class="tag">Finalizado</span>
                <img class="card-img-top" src="/assets/images/artificial-intelligence.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Neural.one <img class="icon-eur" src="/assets/images/euro.png"></h4>

                  <p class="card-text">Neural.ONE es una empresa de tecnología que utiliza inteligencia artificial para
                    ayudar a los especialistas en marketing a mejorar el rendimiento de la marca e impulsar los
                    resultados comerciales.</p>
                  <a class="btn_carousel">Conocer más > </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Accountant -->
    <div id="accountant">
      <div class="row-accountant-numbers col-lg-12 col-md-12 col-sd-12">
          <div class="col-lg-4 col-md-3 col-sd-3">
            
            <p>Inversores</p>
          </div>
          <div class="col-lg-4 col-md-3 col-sd-3">
            <p>Proyectos</p>
          </div>
          <div class="col-lg-4 col-md-3 col-sd-3">
            <p>Dinero total invertido</p>
          </div>
      </div>
    
    <div class="row-accountant-img col-lg-11 col-md-11 col-sd-11">
      <img src="./assets/images/accountant.jpg">
    </div>
  </div>
    <!-- Perfomance & rofiles -->

    <div>
      <img>

    </div>


    <!-- Leading companies -->
    <div class="container_companies">
      <h4>Empresas que ya han confiado en Soen para sus proyectos:</h4><br><br>

      <div class="row col-lg-12 col-md-12 col-sm-10 col-xs-10">
        <div class="img col-lg-3 col-md-6">
          <div class="logo_companie">
            <img src="assets/images/trucksters.png" width="200px">
          </div>
        </div>
        <div class="img col-lg-3 col-md-6">
          <div class="logo_companie">
            <img src="assets/images/rated.png" width="200px">
          </div>
        </div>
        <div class="img col-lg-3 col-md-6">
          <div class="logo_companie">
            <img src="assets/images/nilgo.png" width="150px">
          </div>
        </div>
        <div class="img col-lg-3 col-md-6">
          <div class="logo_companie">
            <img src="assets/images/rated.png" width="200px">
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
<app-footer></app-footer>