.object{
    /* align-items: center; */
    justify-content: center;
}
#object h1{
    text-align: center;
    font-size: 5rem;
    /* position: absolute; */
    font-weight: bolder;
}
@media(max-width: 550px){
    #object h1{
        font-size: 2rem;
    }
}
#object h1:first-child{
    right:40px;
}
#object h1:last-child{
    top: 400px;
    right: 50px;
    margin-bottom: 30px;
}
.img_p img{
    width: 100%;
    max-width: 600px;
}

.why{
    margin: 60px auto;
    max-width: 1400px;
}

.why h2{
    text-align: left;
    font-size: 3rem;
    margin-left: 50px;
    margin-bottom: 30px;
    color: #212529;
    font-weight: bolder;
}

@media(max-width: 450px){
    .why h2{
        font-size: 1.5rem;
        text-align: center;
    }
}

ul{
    cursor:pointer; 
    list-style: none; 
}

.list li{
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: var(--shadow-color);
    border-radius: .3em;
    transition: all .3s ease-out;   
}

@media(max-width: 459px){
    li{
        padding: 10px;
    }
}

.list li:hover{
    background: var(--fourth-color);
}

.reasons{
    margin-left: 150px;
    margin-top: 30px;
    padding: 50px;
    font-size: 2rem;
}

@media(max-width: 459px){
    .reasons{
        padding: 20px 40px;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 1rem;
    }
}

.proyecto{
    max-width: 1400px;
}

#accountant{
    /* margin-top: 50px;
    margin-bottom: 50px; */
    display: inline-flex;
    margin: 50px auto;
    width: 100%;
    justify-items: center;
}

#accountant div{
    align-self: center;

}

#accountant p{
    padding: 10px 10px;
    margin-top: 30px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}


#accountant div img {
    width: 100%;
    margin-bottom: 20px;
}
#accountant div:first-child{
    padding: 0 60px;
    text-align: center;
}

.row-accountant-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background: linear-gradient(to bottom right, var(--shadow-color), var(--primary-color));
    border-style: none;
    border-radius: 30px;
    width: 60%;
    display: inline-block;
}

.box1{
    background: linear-gradient(to bottom right, var(--shadow-color), var(--primary-color));
    border-style: none;
    border-radius: 30px;
    width: 60%;
    display: inline-block;
}

.logo-companie{
    justify-items: center;
}
.img{
    align-self: flex-end;
}
.img img{
    width: 100%;
}
h2{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

.btn_carousel{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--secondary-color);
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px var(--primary-color);
    cursor: pointer;
}

.btn_carousel:hover{
    background-color: var(--fourth-color);

}

#object{
    margin-top: 70px;
}

.card{
    border-radius: 40px;
}

.card .tag{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: #fff;
    width: 170px;
    height: 30px;
    font-size: 10pt;
    padding: 5px 50px 5px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 25px;
    background-color: var(--fourth-color);
}

.card-img-top{
    padding: 10px;
    border-radius: 40px;

}

.card-numbers{
    justify-content: center;
    text-align: center;
}



.icon-eur{
    float: left;
}

.card-title{
    margin-bottom: 20px;
    margin-left: 0px;
}



