<app-navbar></app-navbar>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur id libero officia tenetur ut quod nisi
          nostrum laudantium repudiandae culpa nobis delectus, sapiente corporis reiciendis perspiciatis voluptatem
          consectetur nesciunt voluptatibus?
      </div>
      <div class="img_p col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-none">
        <img src="assets/images/landing.svg" width="700px">
      </div>
    </div>
  </div>
</body>