<div class="row empleos">
    <div class="col-xl-2 p-sm-0">
      <app-menu-empresa></app-menu-empresa>
    </div>
    <div class="col-xl-10">
      <br>
      <h3 style="text-align: center;">Mis empleos</h3>
      <div id="empleos" class="row " *ngFor="let empleo of empleos; let indice = index">
      
        <div class="col-md-8">
            <br>
            <h2>{{empleo.title}}</h2>
            <h4>{{empleo.company_name}}</h4><br>
            <h3>Descripción del empleo:</h3>
            <p>{{empleo.description}}</p>
            <h5>Jornada:</h5>
            <p>{{empleo.working_day}}</p>
            <h5>Tipo de contrato</h5>
            <p>{{empleo.contract}}</p>
            <h5>Salario</h5>
            <p>{{empleo.salary}}</p>
            <h5>Requisitos:</h5>
            <p>{{empleo.requirements}}</p>
            <h5>Experiencia:</h5>
            <p>{{empleo.experience}}</p>
            <h5>E-mail de contacto:</h5>
            <p>{{empleo.email}}</p>
        </div>
        <div class="col-md-4">
          <br>
          <a class="btn" [routerLink]="['/dashboard/mis_empleos/modificar']" [queryParams]='{job_id: empleo.job_id}' role="button" id="btn">Editar</a>
          <a class="btn">Eliminar anuncio</a>
        </div>
        
      </div>
   
  </div>
  