<div class="row empleos">
    <div class="col-xl-2 p-sm-0">
      <app-menu-empresa></app-menu-empresa>
    </div>
    <div class="col-xl-10">
      <br>
      <h3 style="text-align: center;">Mis empleos</h3>
      <div id="empleos" class="row ">
      <!-- *ngFor="let proyecto of projectsUser; let indice = index"  -->
        <div class="col-md-8">
            <br>
            <h2>Nombre empleo</h2><br>
            <h3>Descripción del empleo </h3>
            <p>Aqui va la descripcion</p>
            
            </div>
  
          
              <div class="col-md-4">
                <br>
                <a class="btn" [routerLink]="['/dashboard/mis_empleos/modificar']" role="button" id="btn">Editar</a>
              </div>
        
      </div>
   
  </div>
  