<div class="row ">
    <div class="col-xl-2" >
        <app-menu-inversor></app-menu-inversor>
    </div>
    <div class="col-xl-10 background: var(--primary-color)" >
        <br><h3 style="text-align: center;">Proyectos invertidos</h3>
        <a class="btn btn-primary" (click)= "proyectosInvertido()" role="button" >mostrar</a>
            <div *ngFor="let invertidos of proyectosInvertidos">
        <div id="proyectos" class="row ">
        <div class="col-md-8 " >
                <br><h2>{{invertidos[0].project_name}}</h2><br>
                <p>{{invertidos[0].description}}</p>
                <h5>Última actualización</h5>
                <p>(fecha de actualización) - Asunto de actualización</p>

            </div>
              
            <div class="col-md-4" >
                <br>
                <h5>Capital invertido: {{invertidos[0].remaining_amount}}€/{{invertidos[0].total_amount}}€</h5><br><br><br>
                <a class="btn" (click)= "null" role="button" id="btn">Mas info</a>
                <a class="btn" (click)="goToConversation(2)" role="button" id="btn2">Contactar</a>
          </div>
        </div>
        
        
  </div>
</div>
