<div class="formulario">
    <br><h2 style="text-align: center;">Aquí puedes modificar tu empleo... </h2><br><br>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="company" placeholder="Empresa" #company_name   [(ngModel)]="empleo.company_name" [ngModelOptions]="{standalone: true}">
      </div>
        <div class="form-group">
          <input type="text" class="form-control" id="title" placeholder="Título" #title   [(ngModel)]="empleo.title" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <select class="form-control" id="sector" #sector [(ngModel)]="empleo.sector" [ngModelOptions]="{standalone: true}">
                <option value="" disabled>Sector</option>
                <option value="fintech">Fin tech</option>
                <option value="transporte">Transporte</option>
                <option value="inteligencia artificial">inteligencia artificial</option>
              </select>
            </div> 
          <div class="form-group">
            <textarea type="text" class="form-control" id="description" placeholder="Descripción" #description [(ngModel)]="empleo.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <select class="form-control" id="working_day" #working_day [(ngModel)]="empleo.working_day" [ngModelOptions]="{standalone: true}">
                <option value="" disabled>Jornada laboral</option>
                <option value="completa">Completa</option>
                <option value="parcialMañana">Parcial-Mañana</option>
                <option value="indiferente">Indiferente</option>
              </select>
            </div> 
            <div class="form-group">
                <select class="form-control" id="contract" #contract [(ngModel)]="empleo.contract" [ngModelOptions]="{standalone: true}">
                    <option value="" disabled>Contrato</option>
                    <option value="indefinido">Indefinido</option>
                    <option value="temporal">Temporal</option>
                    <option value="formacion">Formación</option>
                    <option value="practicas">Prácticas</option>
                  </select>
                </div> 
          <div class="form-group">
            <input type="number" class="form-control" id="salary" placeholder="Salario" #salary [(ngModel)]="empleo.salary" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="requirements" placeholder="Requerimientos" #requirements [(ngModel)]="empleo.requirements" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="experience" placeholder="Experiencia" #experience [(ngModel)]="empleo.experience" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" id="email" placeholder="E-mail de contacto" #email [(ngModel)]="empleo.email" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
                
          <br>
          <button type="button" class="btn" id="btn" (click)="modificar()" >Submit</button>
      </form>
</div>




