<h1 style="text-align: center;">Empresa</h1>
<div id="menuEmpresa">
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/publicar">Publicar proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link activo" routerLink="/dashboard/mis_proyectos">Mis proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/publicar_empleo">Publicar empleo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/mis_empleos">Mis empleos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/proyectos">Descubrir proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/chat">Chat</a>
            </li>
          </ul>
        </div>
    </nav>
</div>