<div class="row ">
    <div class="col-xl-2" style=" background: var(--primary-color)" >
        <div *ngIf="usuario.empresa === null">
            <app-menu-inversor></app-menu-inversor>
        </div>
        <div class="menu" *ngIf="usuario.empresa !== null">
            <app-menu-empresa></app-menu-empresa>
        </div>
    </div>
    <div class="col-xl-10" >
<div class="container-fluid box" *ngIf="chat.conversaciones">
    <!-- lado izquierdo -->
    <div id="chat-container">
        <div id="search-container">
            <!-- <input type="text" placeholder="Search" [(ngModel)]='nombre_deseado' (keyup)="filtrar_chat()"> -->
        </div>
        <div id="conversation-list">
            <div *ngFor="let conversacion of chat.conversaciones[1], let i = index" class="conversation" [class]="conversacion_activo === conversacion.conversation_id ? 'active' : null" 
                (click)="ver_conversacion(conversacion.conversation_id, conversacion)">
                <img [src]="getProfile(conversacion)" alt="foto perfil"/>
                <div class="title-text">
                    {{getName(conversacion)}}
                </div>
                <div class="created-date" *ngIf="getDay(conversacion, i)">
                    <!-- {{mensaje[0].fecha.toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}} -->
                    {{getDay(conversacion).toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                </div>
                <div class="conversation-message" *ngIf="getMessage(conversacion)">
                    <!-- {{mensaje[0].mensaje}} -->
                    {{getMessage(conversacion)}}
                </div>
            </div>
        </div>
        <!-- lado derecho -->
        <div id="chat-title">
            <span>{{nombre}}</span>
            <a class="borrar" (click)="borrarConversacion()" role="button">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
        <div class="messege-container">
            <div id="chat-message-list" *ngFor="let mensaje of conversacion">
                <div class="message-row other-message" *ngIf="mensaje.user_id !== usuario.user_id">
                    <div class="message-text">
                        {{mensaje.message}} 
                    </div>
                    <div class="messge-time">
                        {{getDate(mensaje.date).toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                    </div>
                </div>
                <div class="message-row you-message" *ngIf="mensaje.user_id === usuario.user_id">
                    <div class="message-text">
                        {{mensaje.message}} 
                    </div>
                    <div class="messge-time">
                        {{getDate(mensaje.date).toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-form">
            <form>
                <input type="text" placeholder="type a message" [(ngModel)]="enviar_mensaje" [ngModelOptions]="{standalone: true}" (keyup.enter)="enviarMensaje()">
                <a (click)="enviarMensaje()"><i class="fas fa-paper-plane" role="button"></i></a>
            </form>
        </div>
    </div>
</div>
</div>
</div>
