<div class="container-fluid box">
    <!-- lado izquierdo -->
    <div id="chat-container">
        <div id="search-container">
            <input type="text" placeholder="Search" [(ngModel)]='nombre_deseado' (keyup)="filtrar_chat()">
        </div>
        <div id="conversation-list">
            <div *ngFor="let mensaje of mensajes, let i = index" class="conversation" [class]="conversacion_activo === i ? 'active' : null" (click)="ver_conversacion(i)">
                <img [src]="servicio_mensajeria.getInfoUser(mensaje[0].sender === usuario.miPerfil.id ? mensaje[0].receiver : mensaje[0].sender).profile_img_url" alt="Will smith"/>
                <div class="title-text">
                    {{servicio_mensajeria.getInfoUser(mensaje[0].sender === usuario.miPerfil.id ? mensaje[0].receiver : mensaje[0].sender).username}}
                </div>
                <div class="created-date">
                    {{mensaje[0].fecha.toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                </div>
                <div class="conversation-message">
                    {{mensaje[0].mensaje}}
                </div>
            </div>
        </div>
        <!-- lado derecho -->
        <div id="chat-title">
            <span>{{servicio_mensajeria.getInfoUser(mensajes[conversacion_activo][0].sender === usuario.miPerfil.id ? mensajes[conversacion_activo][0].receiver : mensajes[conversacion_activo][0].sender).username}}</span>
            <a class="borrar" (click)="borrarConversacion()" role="button">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
        <div class="messege-container">
            <div id="chat-message-list" *ngFor="let mensaje of mensajes[conversacion_activo]">
                <div class="message-row other-message" *ngIf="mensaje.receiver === usuario.miPerfil.id">
                    <div class="message-text">
                        {{mensaje.mensaje}} 
                    </div>
                    <div class="messge-time">
                        {{mensaje.fecha.toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                    </div>
                </div>
                <div class="message-row you-message" *ngIf="mensaje.sender === usuario.miPerfil.id">
                    <div class="message-text">
                        {{mensaje.mensaje}} 
                    </div>
                    <div class="messge-time">
                        {{mensaje.fecha.toLocaleDateString('es-ES', {day: 'numeric', month:'short'})}}
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-form">
            <form>
                <input type="text" placeholder="type a message" [(ngModel)]="enviar_mensaje" [ngModelOptions]="{standalone: true}" (keyup.enter)="enviarMensaje()">
                <a (click)="enviarMensaje()"><i class="fas fa-paper-plane" role="button"></i></a>
            </form>
        </div>
    </div>
</div>
