.actualizar{
    text-align: center;
    margin: 30px auto;
    max-width: 1200px;
}

.btn-primary{
    background-color: var(--secondary-color);
    border-color: transparent;
    color: white;
}

.btn-primary:hover{
    background-color: var(--fourth-color);
}