<div class="container-fluid">
    <div class="actualizar caja">
        <form>
            <div class="form-group">
                <h4>Informa a tus inversores de los últimas novedades del proyecto</h4>
                <textarea class="form-control" type="text" id="actualizacion" placeholder="Tu actualización" rows="2"></textarea>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" role="button" >Publicar actualización</a>
            </div>
        </form>
        <form>
            <div class="form-group">
                <h4>¿Has conseguido más financiación?</h4>
                <input class="form-control" type="number">
            </div>
            <div class="form-group">
                <a role="button" class="btn btn-primary">Actualizar Capital</a>
            </div>
        </form>
        <form>
            <div class="form-group">
                <h4>¿Has conseguido tus objetivos?</h4>
            </div>
            <div class="form-group">
                <a role="button" class="btn btn-primary">Finalizar ronda</a>
            </div>
        </form>
    </div>
</div>