<div class="about" ><h2>About us...</h2><br>

<p>Soen es una plataforma que permite que grandes y pequeñas
    empresas, sobre todo startups, conecten con inversores a nivel europeo
    para encontrar financiación. 
    El objetivo de la plataforma es que estas empresas, que se mantienen
    gracias a rondas de financiación, y otras de nuevo crecimiento, tengan
    mejor acceso a fuentes de inversión.</p>

<br><br><h3>Nuestro equipo</h3>

<div class="row cuadroPerfil" >
    <div class="col-md-2 perfil" >
        <br>
        <a href="https://www.linkedin.com/in/jiaen-pan-2b438b194/"><img class="perfilImg" src="https://media-exp1.licdn.com/dms/image/C4D03AQEx6sIgsfYwUw/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=yek5eK7r_ySoi3bN3Dh6yADseaZb9y7u42JpSEyCQ-0" alt="perfil" width="150" height="150" /></a>
    </div>
    
    <div class="col-md-4" >
        <br><br><br>
        <ul>
            <li>Jiaen Pan</li>
            <li>Web Developer</li>
            <li>jiaen.m.pan@gmail.com</li>
            <li><a href="https://github.com/jiaen-p"><img class="icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" width="150" height="150" /></a>
                <a href="https://www.linkedin.com/in/jiaen-pan-2b438b194/"><img class="icon" src="https://media-exp1.licdn.com/dms/image/C510BAQFU9IE1wc3Y0g/company-logo_200_200/0?e=2159024400&v=beta&t=fiyIJiKy_gZVkoOzJZf__jyLvQNDlYRMO7Z50BOkR4A" alt="linkedin" width="150" height="150" /></a>
            </li>
        </ul>
    </div>
    
</div>

<div class="row cuadroPerfil">
    <div class="col-md-2 perfil" >
        <br>
        <a href="https://www.linkedin.com/in/cristina-medina-gómez-77819633/"><img class="perfilImg" src="https://media-exp1.licdn.com/dms/image/C4E03AQFy1GiiDaNJOA/profile-displayphoto-shrink_400_400/0?e=1601510400&v=beta&t=PoeOxiUmK30_yNR4rD6MLtDZpsRoaAhIP6CQNrmNmqg" alt="perfil" width="150" height="150" /></a>
    </div>
    
    <div class="col-md-4" >
        <br><br><br>
        <ul>
            <li>Cristina Medina</li>
            <li>Web Developer</li>
            <li>crismedinagomez@gmail.com</li>
            <li>+34667983453</li>
            <li> <a href="https://github.com/crismedinag"><img class="icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" width="150" height="150" /></a>
                <a href="https://www.linkedin.com/in/cristina-medina-g%C3%B3mez-77819633/"><img class="icon" src="https://media-exp1.licdn.com/dms/image/C510BAQFU9IE1wc3Y0g/company-logo_200_200/0?e=2159024400&v=beta&t=fiyIJiKy_gZVkoOzJZf__jyLvQNDlYRMO7Z50BOkR4A" alt="linkedin" width="150" height="150" /></a>
            </li>
        </ul>
    </div>
  
</div>

<div class="row cuadroPerfil">
    <div class="col-md-2 perfil" >
        <br>
        <a href="https://www.linkedin.com/in/manuel-estrada-garcía-5905a1182/00&v=beta&t=uJ1We3q2xLu4blhoBCzL-K9KEh-tGj1vbwthS8tI1hY"><img class="perfilImg" src="https://media-exp1.licdn.com/dms/image/C4D03AQEqZ02O6eJrCA/profile-displayphoto-shrink_400_400/0?e=1601510400&v=beta&t=uJ1We3q2xLu4blhoBCzL-K9KEh-tGj1vbwthS8tI1hY" alt="perfil" width="150" height="150" /></a>
    </div>
    
    <div class="col-md-4" >
        <br><br><br>
        <ul>
            <li>Manuel Estrada</li>
            <li>Web Developer</li>
            <li>manesga-th@hotmail.com</li>
            <li><a href="https://github.com/ManuelEstradaGa"><img class="icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" width="150" height="150" /></a>
                <a href="https://www.linkedin.com/in/manuel-estrada-garc%C3%ADa-5905a1182/"><img class="icon" src="https://media-exp1.licdn.com/dms/image/C510BAQFU9IE1wc3Y0g/company-logo_200_200/0?e=2159024400&v=beta&t=fiyIJiKy_gZVkoOzJZf__jyLvQNDlYRMO7Z50BOkR4A" alt="linkedin" width="150" height="150" /></a>
            </li>
        </ul>
    </div>
  
</div>

<br><br><h3>Código fuente </h3> <br>


<div class="row" style="text-align: center;">
    <div class="col-md-12 " >
        <br>
        <a href="https://github.com/jiaen-p/super_proyecto"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="github" width="150" height="150" /></a>
    </div>
   

</div>

</div>


