body{
    background: linear-gradient(to left top, var(--shadow-color), var(--primary-color) 20%, var(--primary-color));
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.home{
    font-size: 40pt;
    color: var(--secondary-color);
}

.home_box{
    margin-bottom: 30px;
    margin-top: 50px;
}

.title{
    margin-bottom: 30px;
}

.profile{
    background-color: var(--primary-color);
    border-bottom: none;
    border-right: none;
    border-width: 3px;
    border-color: var(--primary-color);
    padding: 10px;
    font-size: 12pt;
}

.profile:hover{
    border-color: var(--secondary-color);
    color: var(--fourth-color);
    font-weight: bold;
}


.form-group{
    padding: 20px;
    font-size: 10pt;
    margin-top: 40px;
}

.form-control{
    box-shadow: 2px 2px 2px var(--shadow-color);
    border-top: none;
    border-left: none;
}

.container_form{
    box-shadow: 3px 3px 3px var(--shadow-color);
    padding: 50px 40px;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.form-check{
    text-align: center;
    margin-top: 15px;
    font-size: 10pt;
}

.btn_go{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--shadow-color);
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px var(--primary-color);
    cursor: pointer;
}

.btn_go:hover{
    background-color: var(--fourth-color);
}

.register{
    font-size: 9pt;
    margin-top: 15px;
    text-align: center;
}

.pie_formulario{
    margin-top: 30px;
    margin-bottom: 100px;
}
.selected{
    border-color: var(--secondary-color);
    color: var(--fourth-color);
    font-weight: bold;
}


@media (max-width: 400px){
    .profile{
        font-size: 10pt;
    }
}

@media (max-width: 350px){
    .profiles{
        font-size: 9pt;
    }

    .form-group{
        padding: 10px;
        font-size: 9pt;
        margin-top: 40px;
    }

    .container_form{
        padding: 20px 40px;
    }

    .form-check {
        margin-bottom: 0;
        font-size: 9pt;
    }

    .btn_go{
        font-size: 9pt;
    }

    .pie_formulario{
        font-size: 10pt;
    }
}

@media (min-width: 760px){
    .form-group{
        padding: 20px;
        font-size: 12pt;
        margin-top: 50px;
    }

    .container_form{
        padding: 50px 10px;
    }

}

@media (max-width: 330px){
    .profiles{
        width: 50%;
        margin: auto;
    }

    .form-group{
        margin-top: 20px;
    }

}

