
<div id="contenedor">
    
    <div class="cuadro_info">
      <a (click)="_location.back()" class="volver"><i class="fas fa-arrow-circle-left"></i></a>
      <h2>{{ proyecto.project_name }}</h2>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="logo col-lg-3">
            <img *ngIf=proyecto.project_img_url [src]="proyecto.project_img_url" alt="random img from lorem picsum">
          </div>
          <div class="col-lg-9 descripcion">
            <p>{{proyecto.description}}</p>
          </div>
        </div>
      </div>
      <p *ngIf="fecha">Finaliza el {{ fecha.toLocaleDateString('es-ES', {day: 'numeric', month:'long', year:'numeric'}) }}</p>
      <p>{{proyecto.remaining_amount}} € financiados de {{proyecto.total_amount}} €</p>
      <a class="btn" (click)="chat.goToChat(proyecto.project_id)">Contactar</a>
      <a *ngIf="usuario.inversor" class="btn seguir" (click)="seguir()">Seguir</a>
    </div>
 
</div>