<!--
<div>
    <div class="cuadro_info">
        <a (click)="_location.back()" class="volver"><i class="fas fa-arrow-circle-left"></i></a>
        <h2 >{{proyecto_ampliacion.nombre}}</h2>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="logo col-lg-3">
                    <img *ngIf="proyecto_ampliacion.img_url" [src]="proyecto_ampliacion.img_url" alt="random img from lorem picsum">
                    <h3 >{{proyecto_ampliacion.empresa}}</h3>
                </div>
                <div class="col-lg-9 descripcion">
                    <p >{{proyecto_ampliacion.descripcion}}</p>
                </div>
            </div>
        </div>
        <p >finaliza el {{proyecto_ampliacion.fecha_fin.toLocaleDateString('es-ES', {day:'numeric', month:'long', year:'numeric'})}}</p>
        <p >{{proyecto_ampliacion.capital_restante}}€ financiados de {{proyecto_ampliacion.capital_total}}€</p>
        <a class="btn btn-primary" [routerLink]="['/chat']" [queryParams]="{id: proyecto_ampliacion.empresa}">Contactar</a>
        <a class="btn btn-primary seguir" (click)="addFav(null,null)">Seguir</a>
    </div>
</div>
-->

<div>
    <div *ngIf="proyecto!=null" class="cuadro_info">
        <a (click)="_location.back()" class="volver"><i class="fas fa-arrow-circle-left"></i></a>
        <h2 >{{ proyecto.project_name }}</h2>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="logo col-lg-3">
                    <img *ngIf="proyecto_ampliacion.img_url" [src]="proyecto_ampliacion.img_url" alt="random img from lorem picsum">
                    <h3 >{{proyecto.company_name}}</h3>
                </div>
                <div class="col-lg-9 descripcion">
                    <p >{{proyecto.description}}</p>
                </div>
            </div>
        </div>
        <p >finaliza el {{ proyecto.end_date }}</p>
        <p >{{proyecto.remaining_amount}}€ financiados de {{proyecto.total_amount}}€</p>
        <a class="btn btn-primary" [routerLink]="['/chat']" [queryParams]="{id: proyecto_ampliacion.empresa}">Contactar</a>
        <a class="btn btn-primary seguir" (click)="addFav(null,null)">Seguir</a>
    </div>
</div>